maenad-aws-song-importer {
    cursor  : pointer;
    display : block;
}

maenad-aws-song-importer[data-importing] {
    background     : orange;
    pointer-events : none;
}

maenad-aws-song-importer[data-imported] {
    background     : green;
    pointer-events : none;
}
